<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @bitpay_webhook.data %>
</p>

<%= link_to 'Edit', edit_bitpay_webhook_path(@bitpay_webhook) %> |
<%= link_to 'Back', bitpay_webhooks_path %>
